# Dependencies
node_modules/

package-lock.json

# Angular build/cache artifacts
.angular/
dist/
coverage/

# Environment variables
.env
.env.*
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# TypeScript build artifacts
*.tsbuildinfo

# Optional npm cache directory
.npm

# Yarn
.yarn/
.yarn-cache/
.yarn-install-state.gz
.pnp/
.pnp.js

# Pillow
*.iml

# JetBrains IDEs
.idea/
*.ipr
*.iws

# VS Code
.vscode/
*.code-workspace

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

# Test results
test-results/

# Bolt configuration
/.bolt/

# Dokploy deployment configuration
netlify.toml
/pnpm-lock.yaml
